/*import spraybottle from "./components/images/spraybottle.png"*/


.App {
  text-align: center;
}

.spray {cursor: url("./components/images/spraybottle.png"),auto;}

.greenButton {background-color: #4CAF50;} /* Green */
.blueButton {background-color: #0000ff;} /* Blue */
.redButton {background-color: #f44336;} /* Red */
.yellowButton {background-color: #FFFF00;} /* Yellow */
.blackButton {background-color: #000000;} /* Black */

.reticle {border-radius: 50%;}

#largeReticle {height: 40px; width: 40px;}
#mediumReticle {height: 30px; width: 30px;}
#smallReticle {height: 20px; width: 20px;}