import .App


#mycanvas {
  cursor: url("./components/images/sprayblackbottle.png"), auto;
}

.App {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  background-image: url("./components/images/backgrounds/brickwall1.jpg"), repeat;
  /* margin: 0;
  padding: 0; */
  /* opacity: 0.3; */
}

#header-div {
  margin-bottom: 0;
  height: 30px;
}


/*Div containers for paint options panel */
#paint-options-content {
  width: 700px; 
  height: 80px;
  margin: auto;
  margin-top: 0;
}

#paint-color-options {
  display: inline-block;
  width: 33%;
  margin-left: 0;
  margin-top: 0;
  height: 100px;
  text-align: left;
  vertical-align:top; 
}

#save-clear-options{
  display: inline-block;
  width: 43%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 100px;
  vertical-align:top;
}

#spray-width-options {
  display: inline-block;
  width: 23%;
  margin-right: 0;
  margin-top: 0;
  height: 100px;
  text-align: right;
  vertical-align:top; 
}


/*Relating to paint color options within div */
#green-button {background-color: #4CAF50;} /* Green */
#blue-button {background-color: #0000ff;} /* Blue */
#red-button {background-color: #f44336;} /* Red */
#yellow-button {background-color: #FFFF00;} /* Yellow */
#custom-color-button {
  background-color: #000000;
  /* background-image: url("./components/images/colorwheel.png"); Mix */
  }

.paint-sample {
  border-radius: 50%;
  height: 40px; 
  width: 40px;
  vertical-align: center;
  margin-bottom: 5px;
  }


/*Relating to paint nozzle tip size options within div */  
#large-spray {height: 70px; width: 40px;}
#medium-spray {height: 55px; width: 30px;}
#small-spray {height: 40px; width: 20px;}

.spraybottle {
  background-image: url("./components/images/sprayblackbottle.png");
  background-size: cover;
  border: none;
  margin-top: 5px;
  }


/*Relating to save, clear, brick-wall options within div */
.sq-button {
  height: 40px; 
  width: 40px;
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 25px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
            
}

#brick-button {
  background-image: url("./components/images/brick-wall-icon.png");
  height: 40px; 
  width: 40px;
  cursor: pointer; /* Mouse pointer on hover */ 
  vertical-align: middle;
}

.brick-backgrounds-panel {
  height: 150px; 
}

.background-options-button {
  height: 70px; 
  width: 70px;
  border: 1px solid;
  border-radius: 16px;
}

